<div id="navbar" #contenedor class="container-fluid"
  style="transition: top 0.3s;z-index:100;position:fixed;top:0xp;left:0px;">


  <div *ngIf="!_control.isModal" class="row" style="background:white">
    <div class="col-12" style="background:orange">
      <div style="height:60px;width:100%;display:flex;align-items:center;justify-content:space-between;padding:15px">

        <div style="display:flex;align-items:center">
          <div style="color:white;font-size:20px;font-weight:700;">
            Footballon
          </div>
        </div>
        <div>
          <i (click)="openUser()" class="fas fa-user-circle" style="color:#fff;font-size:24px"></i>
          <i (click)="showMenu()" class="fas fa-ellipsis-v" style="color:#fff;font-size:22px;margin-left:20px"></i>
        </div>
      </div>
    </div>

    <div style="margin-top:10px;width:100%;display:flex;justify-content:center">
      <div (click)="changeView('partidos')" [ngClass]="{'active': isPartidos, 'noActive': !isPartidos}"
        style="font-size:14px;font-weight:500;width:33%;display:inline-block;text-align:center">
        PARTIDOS
      </div>
      <div (click)="changeView('mensajes')" [ngClass]="{'active': isMensajes, 'noActive': !isMensajes}"
        style="font-size:14px;font-weight:500;width:33%;display:inline-block;text-align:center">
        MENSAJES
      </div>
    </div>

    <div style="padding:15px;padding-left:15px;width:100%;display:flex;align-items:center">
      <div (click)="_control.showMenuPartidos=true" style="font-weight:500;font-size:15px;color:#666">
        {{_control.textoMenuPartidos}}
        <i class="fas fa-caret-down" style="color:#bbb;font-size:16px;margin-left:10px"></i>
      </div>

      <div style="font-weight:500;flex-grow:1;text-align:center;color:#666;font-size:15px">
        <span (click)="showCity=true">
          Valdivia
        </span>
        <i (click)="showCity=true" class="fas fa-map-marker-alt"
          style="margin-right:10px;margin-left:10px;color:#bbb;font-size:16px"></i>
      </div>
    </div>

    <div style="background:lightgoldenrodyellow;padding:3px;padding-left:15px;font-size:14px;width:100%;color:orange">
      <i class="fas fa-thumbtack" style="color:salmon;margin-right:10px"></i>
      Nuevo partido
    </div>

  </div>




  <div *ngIf="showCity" (click)="showCity=false"
    style="background:rgb(73, 73, 73, 0.5);z-index:999;position:fixed;top:0px;left:0px;width:100%;height:100%;display:flex;justify-content:center;align-items:center">
    <div style="text-transform:uppercase;background:white;border-radius:5px;padding:50px;color:#555">
      <i class="far fa-dot-circle" style="color:dodgerblue;margin-right:10px;"></i>
      Valdivia
    </div>
  </div>




  <div *ngIf="_control.showUserProfile"
    style="z-index:999;position:fixed;top:0px;left:0px;width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between">
    <div style="margin-top:0px;padding:0px">
      <div style="width:100%;border-radius:0px;background:orange">
        <div style="padding:15px;">
          <div style="display:flex;justify-content:space-between">
            <i (click)="_control.showUserProfile=false" class="fas fa-times" style="font-size:20px;color:white"></i>
            <div style="color:white">
              Footballon
            </div>
            <div></div>
          </div>
          <div style="margin-top:15px;display:flex;align-items:center">
            <img src="assets/u02.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
            <div style="margin-left:10px;color:#fff;font-size:16px;font-weight:500">
              <!-- CUENTA DE USUARIO -->
              Oscar Garcia
              <div style="font-size:14px;font-weight:400">
                poimsm@gmail.com
              </div>
            </div>
          </div>

          <!-- <hr> -->

          <div style="color:#fff;padding:20px;padding-top:30px;padding-bottom:0px;display:flex;justify-content:center">
            <div style="width:100%;display:flex;justify-content:space-around;font-size:24px;padding:10px;border:1px solid white">
                Mi saldo
              <div style="font-weight:600;font-size:24px">
                $2.500
              </div>
            </div>
          </div>
        </div>

        <!-- <div style="border-top:1px solid whitesmoke;padding-left:15px;padding-right:15px"></div> -->

        <div style="padding:15px;">

          <div (click)="recargarCuenta()" style="margin-top:5px;">
            <div style="color:#fff;">
              Recargar cuenta
            </div>
          </div>
          <div (click)="signOut()" style="margin-bottom:5px;margin-top:25px;">
            <div style="color:#fff;">
              Cerrar sesión
            </div>
          </div>
        </div>

      </div>
    </div>
    <div (click)="_control.showUserProfile=false" style="background:rgb(73, 73, 73, 0.5);height:100%;width:100%">
    </div>
  </div>





  <div *ngIf="false"
    style="z-index:999;position:fixed;top:0px;left:0px;width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between">
    <div style="margin-top:60px;padding:0px">
      <div style="width:100%;border-radius:0px;background:white">
        <div style="padding:15px;background:white;">
          <div style="display:flex;align-items:center">
            <img src="assets/u02.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
            <div style="margin-left:10px;color:#666;font-size:15px;font-weight:500">
              <!-- CUENTA DE USUARIO -->
              Oscar Garcia
              <div style="font-size:14px;font-weight:400">
                poimsm@gmail.com
              </div>
            </div>
            <div style="margin-left:20px">
              Saldo
              <div style="color:dodgerblue">
                2500
              </div>
            </div>
          </div>

          <!-- <hr> -->

          <div style="color:#666;padding:20px;display:flex;justify-content:center">
            <div>
              Saldo
              <div style="font-weight:600;font-size:24px">
                $2.500
              </div>
            </div>

          </div>
        </div>


        <!-- <div style="display:flex;justify-content:center">
        <div>
            <i class="fas fa-wallet" style="font-size:24px;color:#bbb;margin-right:15px"></i>

            <div style="font-size: 18px;font-weight:300">
              SALDO: $2500
            </div>
        </div>       
      </div> -->


        <!-- <div (click)="balance()" style="display:flex;justify-content:space-between">
          <div style="font-size:15px;color:#888;font-weight:600">
            <i class="fas fa-wallet" style="font-size:18px;color:dodgerblue;margin-right:15px"></i>
            Mi balance
          </div>
          <i class="fas fa-check" style="font-size:15px;color:white"></i>
        </div> -->
        <div style="padding:15px;background:white">

          <div (click)="recargarCuenta()" style="margin-top:5px;display:flex;justify-content:space-between">
            <div style="font-size:15px;color:#888;font-weight:600">
              <i class="fas fa-donate" style="font-size:18px;color:dodgerblue;margin-right:15px"></i>
              Recargar cuenta
            </div>
            <i class="fas fa-check" style="font-size:15px;color:white"></i>
          </div>
          <div (click)="signOut()" style="margin-bottom:5px;margin-top:25px;display:flex;justify-content:space-between">
            <div style="font-size:15px;color:#888;font-weight:600">
              <i class="fas fa-sign-out-alt" style="font-size:18px;color:dodgerblue;margin-right:15px"></i>
              Cerrar sesión
            </div>
            <i class="fas fa-check" style="font-size:15px;color:white"></i>
          </div>
        </div>

      </div>
    </div>
    <div (click)="_control.showUserProfile=false" style="background:rgb(73, 73, 73, 0.5);height:100%;width:100%">
    </div>
  </div>



  <div *ngIf="addApp"
    style="padding:20px;z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;background:rgb(31, 143, 255, 0.9)">

    <div style="margin-top:30%;">
      <div style="font-size:18px;font-weight:600;color:white">
        Agrega WeUpto a la pantalla principal
      </div>

      <div style="margin-top:5px;font-size:13px;font-weight:400;color:white">
        Búsca en el menu de tu navegador la opción para agregar WeUpto como un acceso rápido
      </div>

      <div (click)="addApp = !addApp"
        style="font-size:14px;margin-top:20px;padding:4px;background:white;border-radius:2px;color:#555;padding-left:10px;padding-right:10px;display:inline-block">
        HECHO!
      </div>
    </div>

  </div>


  <app-evaluar></app-evaluar>
  <app-login *ngIf="_control.showLogin"></app-login>
  <app-sidenav *ngIf="_control.showSidenav"></app-sidenav>