<div id="navbar" #contenedor class="container-fluid"
  style="transition: top 0.3s;z-index:100;position:fixed;top:0xp;left:0px;">


  <div *ngIf="!_control.isModal" class="row" style="background:white">
    <div class="col-12" style="background:orange">
      <div style="height:60px;width:100%;display:flex;align-items:center;justify-content:space-between;padding:15px">

        <div style="display:flex;align-items:center">
          <div style="color:white;font-size:20px;font-weight:700;">
            Footballon
          </div>
        </div>
        <div>
          <i (click)="openUser()" class="fas fa-user-circle" style="color:#fff;font-size:24px"></i>
          <i (click)="showMenu()" class="fas fa-ellipsis-v" style="color:#fff;font-size:22px;margin-left:15px"></i>
        </div>
      </div>
    </div>

    <div style="margin-top:10px;width:100%;display:flex;justify-content:center">
      <div (click)="changeView('partidos');togglePlaces('partidos')"
        [ngClass]="{'active': isPartidos, 'noActive': !isPartidos}"
        style="font-size:14px;font-weight:450;width:33%;display:inline-block;text-align:center">
        PARTIDOS
      </div>
      <div (click)="changeView('mensajes');togglePlaces('mensajes')"
        [ngClass]="{'active': isMensajes, 'noActive': !isMensajes}"
        style="font-size:14px;font-weight:450;width:33%;display:inline-block;text-align:center">
        MENSAJES
      </div>
    </div>

    <div style="padding:15px;padding-left:15px;width:100%;display:flex;align-items:center">
      <div (click)="showMenuPartidos=true" style="font-weight:500;font-size:15px;color:#666">
        Todo
        <i class="fas fa-caret-down" style="color:#bbb;font-size:16px;margin-left:10px"></i>
      </div>

      <div style="flex-grow:1;text-align:center;color:#666;font-size:15px">
        <span (click)="showCity=true">
          Valdivia
        </span>
        <i (click)="showCity=true" class="fas fa-map-marker-alt"
          style="margin-right:10px;margin-left:10px;color:#bbb;font-size:16px"></i>
      </div>
    </div>

    <div style="background:lightgoldenrodyellow;padding:3px;padding-left:15px;font-size:14px;width:100%;color:orange">
      <i class="fas fa-thumbtack" style="color:salmon;margin-right:10px"></i>
      Nuevo partido
    </div>

  </div>




  <div *ngIf="showCity" (click)="showCity=false"
    style="background:rgb(73, 73, 73, 0.5);z-index:999;position:fixed;top:0px;left:0px;width:100%;height:100%;display:flex;justify-content:center;align-items:center">
    <div style="background:white;border-radius:5px;padding:50px;color:#555">
      <i class="far fa-dot-circle" style="color:dodgerblue;margin-right:10px;"></i>
      Valdivia
    </div>
  </div>


  <div *ngIf="showMenuPartidos"
    style="background:rgb(73, 73, 73, 0.5);z-index:999;position:fixed;top:0px;left:0px;width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between">
    <div (click)="showMenuPartidos=false" style="height:100%;width:100%">
    </div>
    <div style="padding:10px">
      <div style="padding:15px;width:100%;background:white;border-radius:5px">
        <div style="color:#777;font-size:13px;font-weight:500">
          ORDENAR PARTIDOS
        </div>
        <hr>
        <div style="display:flex;justify-content:space-between">
          <div style="font-size:15px;color:#333;font-weight:600">
            <i class="fas fa-futbol" style="color:#666;margin-right:15px"></i>
            Todo
          </div>
          <i class="fas fa-check" style="font-size:15px;color:orange"></i>
        </div>
        <div style="margin-top:20px;display:flex;justify-content:space-between">
          <div style="font-size:15px;color:#888;font-weight:500">
            <i class="fas fa-check-circle" style="color:#bbb;margin-right:15px"></i>
            Mis Partidos
          </div>
          <i class="fas fa-check" style="font-size:15px;color:white"></i>
        </div>
      </div>
    </div>
  </div>


 



  <div *ngIf="addApp"
    style="padding:20px;z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;background:rgb(31, 143, 255, 0.9)">

    <div style="margin-top:30%;">
      <div style="font-size:18px;font-weight:600;color:white">
        Agrega WeUpto a la pantalla principal
      </div>

      <div style="margin-top:5px;font-size:13px;font-weight:400;color:white">
        Búsca en el menu de tu navegador la opción para agregar WeUpto como un acceso rápido
      </div>

      <div (click)="addApp = !addApp"
        style="font-size:14px;margin-top:20px;padding:4px;background:white;border-radius:2px;color:#555;padding-left:10px;padding-right:10px;display:inline-block">
        HECHO!
      </div>
    </div>

  </div>


  <app-evaluar></app-evaluar>
  <app-login *ngIf="_control.showLogin"></app-login>
  <app-sidenav *ngIf="_control.showSidenav"></app-sidenav>