
a {
    text-decoration: none;
    cursor: pointer;
}

.activarBloque {
    background: #4ea8ff;
    color: white;
    font-weight:600;
}

.desactivarBloque {
    background: white;
    color: #777;
}

.activarIcono {
    color:white;
}

.desactivarIcono {
    color:#444;
}

