<div style="padding:15px;padding-bottom:10px;background:darkorange">
  <div style="display:flex;align-items:center">
    <i class="fas fa-times" style="font-size:20px;color:white"></i>
    <div style="margin-left:20px;color:white;font-weight:500">
      Cancha Mira Flores
    </div>
  </div>
</div>

<div style="margin-top:10px;display:flex">
  <div style="text-align:center;color:darkorange;font-weight:700;width:60px;border-bottom:3px solid darkorange">
    INFO
  </div>
  <div style="text-align:center;color:darkorange;font-weight:700;width:60px;border-bottom:0px solid darkorange">
    MAPA
  </div>
  
</div>


<div style="padding:15px">

  <!-- <h5>Info</h5> -->


  <div style="display:flex;justify-content:flex-start">
    <i class="far fa-clock" style="margin-top:5px;margin-right:10px;font-size:18px;color:#bbb"></i>
    <div style="font-size:15px;color:#444">
      Domingo, 15 de junio
      <div style="color:#888">
        17:30 - 18:30
      </div>
    </div>
  </div>

  <div style="margin-top:10px;display:flex;justify-content:flex-start">
    <i class="fas fa-map-marker-alt" style="margin-top:5px;margin-right:10px;font-size:18px;color:#bbb"></i>
    <div style="font-size:15px;color:#444">
      Cancha Mira Flores
      <div style="color:#888">
        Av. Ramón Picarte 1023, Valdivia, Chile
      </div>
    </div>
  </div>

  <div style="margin-top:10px;display:flex;justify-content:flex-start">
    <i class="fas fa-user-alt" style="margin-top:5px;margin-right:10px;font-size:15px;color:#bbb"></i>
    <div style="font-size:15px;color:#444">
      Organizado por: Oscar García Fuentes
    </div>
  </div>

</div>




  <div style="padding:15px">

  <div style="margin-bottom:15px;color:orange;font-size:16px;font-weight:600">
    Equipos ( 5 vs 5 ) - 6/10 competidores
  </div>

  <div style="padding:3px;background:#bbb;width:180px;border-radius:3px;color:white;font-weight:500;font-size:11px;display:flex;justify-content:center;align-items:center">
    CAMISETA BLANCA
    <i class="fas fa-tshirt" style="color:white;margin-left:10px"></i>
  </div>
  <!-- <div style="border-bottom:1px solid #eee;padding-left:0px;color:#999">
    Camiseta Blanca
    <i class="fas fa-tshirt" style="font-size:15px;margin-left:10px;color:#ccc;"></i>
  </div>  -->
  <div style="margin-top:15px;display:flex">
      <div style="border-radius:5px 5px 0px 0px;border:1px solid #eee;margin-right:20px;">
        <img src="assets/u01.jpg" style="width:60px;height:40px;object-fit:cover">
        <div style="padding:4px;font-size:14px">
          Oscar
        </div>
      </div>
      <div style="border-radius:5px 5px 0px 0px;border:1px solid #eee;margin-right:20px;">
        <img src="assets/u02.jpg" style="width:60px;height:40px;object-fit:cover">
        <div style="padding:4px;font-size:14px">
          Daniel
        </div>
      </div>
      <div style="border-radius:5px 5px 0px 0px;border:1px solid #eee;margin-right:20px;">
        <img src="assets/u02.jpg" style="width:60px;height:40px;object-fit:cover">
        <div style="padding:4px;font-size:14px">
          Juan
        </div>
      </div>
      
   
  </div>

  <!-- <hr> -->

  <div style="height:20px"></div>
  <div style="padding:3px;background:#bbb;width:180px;border-radius:3px;color:white;font-weight:500;font-size:11px;display:flex;justify-content:center;align-items:center">
    CAMISETA NEGRA
      <i class="fas fa-tshirt" style="margin-right:5px;margin-left:10px;color:#333;"></i>
  </div>
  <!-- <div style="border-bottom:1px solid #eee;padding-left:0px;color:#999">
    Camiseta Negra
    <i class="fas fa-tshirt" style="font-size:15px;margin-left:10px;color:#888;"></i>
  </div> -->
  <div style="margin-top:15px;display:flex">
    <div style="border-radius:5px 5px 0px 0px;border:1px solid #eee;margin-right:20px;">
      <img src="assets/u02.jpg" style="width:60px;height:40px;object-fit:cover">
      <div style="padding:4px;font-size:14px">
        Marcos
      </div>
    </div>
    <div style="border-radius:5px 5px 0px 0px;border:1px solid #eee;margin-right:20px;">
      <img src="assets/u02.jpg" style="width:60px;height:40px;object-fit:cover">
      <div style="padding:4px;font-size:14px">
        Eduardo
      </div>
    </div>
    <!-- <div>
      <img src="assets/u01.jpg" style="margin-right:20px;width:35px;height:35px;border-radius:50%;object-fit:cover">
      <div style="font-size:14px">
        Eduardo
      </div>
    </div> -->
    
  </div>

</div>



  <div style="padding:15px;padding-top:30px;padding-bottom:30px">
    <div style="color:orange;font-weight:600;margin-bottom:15px">
      Comentarios (20)
    </div>
  <!-- <h5>Conversaciones</h5> -->

  <!-- <div>
    Comentarios
  </div>

  <div style="display:flex;justify-content:space-between">
    <div>
        Ver mapa
    </div>
    <i class="fas fa-angle-right" style="color:#bbb;font-size:18px"></i>
   
  </div> -->


  <div *ngIf="true">


    <div style="display:flex;align-items:flex-start">
      <div style="margin-top:5px;height:35px;width:35px">
        <img src="assets/u01.jpg" style="width:35px;height:35px;border-radius:50%;object-fit:cover">
      </div>
      <div style="margin-left:10px">
        <div>
          <span style="color:#4089BC;font-size:15px;font-weight:500">
            Oscar Garcia:
          </span>
          <span style="font-size:15px;color:#444">
            Este texto es un comentarion?
          </span>
        </div>
      </div>
    </div>

    <hr>
    <div style="margin-top:20px;display:flex;align-items:flex-start">
      <div style="margin-top:5px;height:35px;width:35px">
        <img src="assets/u02.jpg" style="width:35px;height:35px;border-radius:50%;object-fit:cover">
      </div>
      <div style="margin-left:10px">
        <div>
          <span style="font-size:15px;font-weight:500">
            Lionel Messi
          </span>
          <span style="font-size:15px;color:#444">
            nuevo comentario por aca si pero quiero agregar
          </span>
        </div>
        <div style="text-align:right;color:#999;font-size:13px">
          hace 4 horas
        </div>
      </div>
    </div>


    <hr>
    <div style="margin-top:20px;display:flex;align-items:flex-start">
      <div style="margin-top:5px;height:35px;width:35px">
        <img src="assets/u02.jpg" style="width:35px;height:35px;border-radius:50%;object-fit:cover">
      </div>
      <div style="margin-left:10px">
        <div>
          <span style="font-size:15px;font-weight:500">
            Lionel Messi
          </span>
          <span style="font-size:15px;color:#444">
            nuevo comentario por aca si pero quiero agregar
          </span>
        </div>
        <div style="text-align:right;color:#999;font-size:13px">
          hace 4 horas
        </div>
      </div>
    </div>
  


  </div>



  <div style="height:50px"></div>
</div>



<div *ngIf="true"
  style="position:fixed;bottom:0px;left:0px;width:100%;background:#fff;border-top:1px solid #eee;display:flex;align-items:center;justify-content:space-between">
  <div>
    <div style="margin-left:20px;color:orange;font-weight:500;font-size:18px">
      Valor: $2.500
    </div>
  </div>
  <div style="display:inline-block">
    <div (click)="comprar()"
      style="background:orange;color:white;font-weight:500;padding:10px;padding-left:10px;padding-right:10px;">
      Unirse ahora
    </div>
  </div>
</div>