<div style="padding:15px">
    <div style="width:100%;display:flex;justify-content:space-between;align-items:center">
      <div style="color:#555;display:flex;align-items:center">
        <div
          style="margin-right:10px;border-radius:50%;height:30px;width:30px;display:flex;justify-content:center;align-items:center;background:#bbb">
          <i class="fas fa-shopping-cart" style="font-size:13px;color:#fff"></i>
        </div>
        <div style="display:inline-block">
          Cancha Mira Flores
          <div style="font-size:13px">
            12 de Mayo - Reserva
          </div>
        </div>
      </div>
      <div style="color:#555">
        $2.200
      </div>
    </div>
  
    <div style="margin-top:20px;width:100%;display:flex;justify-content:space-between;align-items:center">
      <div style="color:#555;display:flex;align-items:center">
        <div
          style="margin-right:10px;border-radius:50%;height:30px;width:30px;display:flex;justify-content:center;align-items:center;background:#bbb">
          <i class="fas fa-plus" style="font-size:13px;color:#fff"></i>
        </div>
        <div style="display:inline-block">
          Billetera
          <div style="font-size:13px">
            10 de Mayo - Recarga
          </div>
        </div>
      </div>
      <div style="color:#555">
        $5.000
      </div>
    </div>
  
  
    <div style="margin-top:20px;width:100%;display:flex;justify-content:space-between;align-items:center">
      <div style="color:#555;display:flex;align-items:center">
        <div
          style="margin-right:10px;border-radius:50%;height:30px;width:30px;display:flex;justify-content:center;align-items:center;background:#bbb">
          <i class="fas fa-shopping-cart" style="font-size:13px;color:#fff"></i>
        </div>
        <div style="display:inline-block">
          Cancha Mira Flores
          <div style="font-size:13px">
            10 de Mayo - Se unió
          </div>
        </div>
      </div>
      <div style="color:#555">
        $2.100
      </div>
    </div>
  </div>