<div style="height:60px"></div>


<img src="assets/map02.png" style="width:100%;height:200px;object-fit:cover">

<div *ngIf="false" style="padding:15px;background:#999">
  <div style="font-size:20px;color:#fff;font-weight:500">
    Cancha Mira Flores
  </div>
  <div style="font-size:15px;color:#fff">
    <i class="fas fa-map-marker-alt" style="color:lightsalmon;font-size:16px"></i>
    Simon Bolivar 802
  </div>
</div>

<div
  style="font-size:13px;border-bottom:1px solid #eee;text-transform:uppercase;padding:15px;color:#777;font-weight:600">
  <span style="font-size:15px">2</span> Cupos disponibles
</div>

<div *ngIf="false" style="font-size:14px;border-bottom:1px solid #eee;padding:15px;color:#777;font-weight:600">
  <div style="display:flex">
    <div style="margin-right:20px;text-align:center">
      5
      <div style="font-size:13px">Horas</div>
    </div>
    <div style="margin-right:20px;text-align:center">
      43
      <div style="font-size:13px">Minutos</div>
    </div>
    <div style="margin-right:20px;text-align:center">
      21
      <div style="font-size:13px">Segundos</div>
    </div>
  </div>
</div>
<!-- f54a4a -->
<div style="margin-left:15px;margin-top:10px;color:#666">
  Comparte este evento
</div>
<div style="margin-left:15px;display:flex;">
  <div style="color:#9495AA">
    https://we-upto.cl/evento-102
  </div>
  <div style="margin-left:10px;color:darkcyan">
    <i class="far fa-copy" style="color:#bbb;font-size:18px"></i>
    Copiar
  </div>
</div>


<div style="padding:15px">

  <h5 style="margin-left:0px;margin-top:20px">Info</h5>

  <div style="color:#9495AA;margin-top:10px">

    <div style="display:flex;align-items:center">
      <i class="far fa-clock" style="margin-right:10px;color:#bbb;font-size:18px"></i>
      <div>
        Miércoles, 22 de mayo de 2019
        <div style="font-size:14px;color:#999">
          18:30 hasta las 19:20
        </div>
      </div>
    </div>
    <div style="margin-top:5px;display:flex;align-items:center">
      <i class="fas fa-map-marker-alt" style="margin-right:10px;color:lightsalmon;font-size:20px"></i>
      <div>
        Cancha Mira Flores
        <div style="font-size:14px;color:#999">
          Simon Bolivar 802 - Valdivia
        </div>
      </div>
    </div>
    <div>
      <i class="fas fa-futbol" style="margin-right:10px;color:#bbb;font-size:18px"></i>
      8/10 jugadores
    </div>
  </div>


  <h5 style="margin-left:0px;margin-top:30px">Quién va</h5>


  <div style="margin-top:15px;width:100%;display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap">
    <div style="text-align:center">
      <img src="assets/u01.jpg" style="width:45px;height:45px;border-radius:50%;object-fit:cover">
      <div style="width:100%;text-align:center;font-size:13px;color:#777">
        Oscar Garcia
      </div>
    </div>
    <div style="text-align:center">
      <img src="assets/u01.jpg" style="width:45px;height:45px;border-radius:50%;object-fit:cover">
      <div style="width:100%;text-align:center;font-size:13px;color:#777">
        Oscar Garcia
      </div>
    </div>
    <div style="text-align:center">
      <img src="assets/u01.jpg" style="width:45px;height:45px;border-radius:50%;object-fit:cover">
      <div style="width:100%;text-align:center;font-size:13px;color:#777">
        Oscar Garcia
      </div>
    </div>
    <div style="text-align:center">
      <img src="assets/u01.jpg" style="width:45px;height:45px;border-radius:50%;object-fit:cover">
      <div style="width:100%;text-align:center;font-size:13px;color:#777">
        Oscar Garcia
      </div>
    </div>
    <div style="text-align:center;margin-top:10px">
      <img src="assets/u01.jpg" style="width:45px;height:45px;border-radius:50%;object-fit:cover">
      <div style="width:100%;text-align:center;font-size:13px;color:#777">
        Oscar Garcia
      </div>
    </div>
  </div>
</div>



<h5 style="margin-left:15px;margin-top:20px">Comentarios</h5>

<div style="padding:15px">


  <div style="display:flex;align-items:flex-start">
    <div style="margin-top:5px;height:45px;width:45px">
      <img src="assets/u01.jpg" style="width:45px;height:45px;border-radius:50%;object-fit:cover">
    </div>
    <div style="margin-left:10px">
      <div style="">
        <span style="font-size:15px;color:gray">
            Oscar Garcia
        </span>
        <span style="margin-left:10px;font-size:15px;color:#444">
            Este texto es un comentarion?
          </span>
      </div>
    
      <!-- <div style="color:#999;font-size:13px">
        hace 4 horas
      </div> -->
    </div>
  </div>


  <div style="margin-top:20px;display:flex;align-items:flex-start">
      <div style="margin-top:5px;height:45px;width:45px">
        <img src="assets/u02.jpg" style="width:45px;height:45px;border-radius:50%;object-fit:cover">
      </div>
      <div style="margin-left:10px">
        <div style="">
          <span style="font-size:15px;color:gray">
              Lionel Messi
          </span>
          <span style="margin-left:10px;font-size:15px;color:#444">
              nuevo comentario por aca que es mas extenso que el anterior
            </span>
        </div>
      
        <!-- <div style="color:#999;font-size:13px">
          hace 4 horas
        </div> -->
      </div>
    </div>

  <div *ngIf="false" style="margin-top:20px;display:flex;align-items:flex-start">
    <div style="margin-top:5px;height:40px;width:40px">
      <img src="assets/u02.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
    </div>
    <div style="margin-left:10px">
      <div style="font-weight:500;font-size:15px;color:#333">
        Daniel Fuentes
      </div>
      <div style="margin-top:-2px;font-size:15px;color:#666">
        Nuevo comentario por aca que es mas extenso que el anterior
      </div>
      <div style="color:#999;font-size:13px">
        hace 4 horas
      </div>
    </div>
  </div>

</div>


<div style="height:100px"></div>



<div *ngIf="true"
  style="position:fixed;bottom:0px;left:0px;padding:20px;padding-top:20px;padding-bottom:20px;width:100%;background:#fff;border-top:1px solid #eee;display:flex;align-items:center;justify-content:space-between">
  <div>
    <div style="color:#555;font-weight:500;font-size:18px">
      $2.500 CLP
    </div>
  </div>
  <div style="display:inline-block">
    <div (click)="comprar()"
      style="background:#f54a4a;color:white;font-weight:500;padding:3px;padding-left:10px;padding-right:10px;border-radius:6px;">
      Unire ahora
    </div>
  </div>
</div>