input {
    -webkit-appearance: none;
    outline: none;
    box-shadow: none !important;
    border:1px solid #ccc;
    border-radius: 10px;
    background: white;
    padding: 5px;
    padding-left:10px;
    width:100%;
}