<div style="height:60px"></div>


<!-- <div style="padding:15px">
  <div style="font-size:20px;color:#333;font-weight:500">
    Cancha Mira Flores
  </div>
  <div style="font-size:15px;color:#777">
    <i class="fas fa-map-marker-alt" style="color:lightsalmon;font-size:16px"></i>
    Simon Bolivar 802
  </div>
</div> -->

<img src="assets/map02.png" style="width:100%;height:200px;object-fit:cover">

<div style="padding:15px;background:#999">
  <div style="font-size:20px;color:#fff;font-weight:500">
    Cancha Mira Flores
  </div>
  <div style="font-size:15px;color:#fff">
    <i class="fas fa-map-marker-alt" style="color:lightsalmon;font-size:16px"></i>
    Simon Bolivar 802
  </div>
</div>

<!-- <img src="assets/a01.png"
  style="width:100%;object-fit:cover"> -->
<!-- <img src="assets/a02.png"
  style="width:100%;object-fit:cover"> -->

<div style="border-bottom:1px solid #eee;width:100%;display:flex;justify-content:center">

  <div style="color:#999;width:80%;text-align:center;margin:15px;border:0px solid #eee;border-radius:15px;padding:15px;font-size:16px">
    Comienza un juego compartiendo una reserva
  </div>

</div>

<div
  style="font-size:13px;border-bottom:1px solid #eee;text-transform:uppercase;padding:15px;color:#777;font-weight:600">
  Reservas disponibles
</div>


<div *ngIf="false" style="padding:15px;width:100%;display:flex;justify-content:space-between;align-items:center">
  <div style="color:#555">
    <i class="far fa-clock" style="margin-right:10px;color:#bbb;font-size:16px"></i>
    20:00
    <div>
      <i class="far fa-calendar" style="margin-right:10px;color:#bbb;font-size:16px"></i>
      Lunes 24 de Mayo
    </div>
  </div>
  <div>
    <div
      style="font-weight:500;text-align:center;font-size:14px;width:60px;padding:3px;color:#057AFF;border-radius:5px;border:1px solid dodgerblue">
      $2.500
    </div>
    <div style="color:#999;font-size:13px;margin-left:5px">
      Reservar
    </div>
  </div>
</div>


<div *ngFor="let item of list" style="padding:15px;width:100%;display:flex;justify-content:space-between;align-items:center">
  <div style="color:#555;display:flex">
    <div style="font-size:17px;color:#999">
      Lun
      <div>
        24
      </div>      
    </div>
    <div style="margin-left:20px">
        <i class="far fa-clock" style="margin-right:5px;color:#bbb;font-size:16px"></i>
        20:00 - 20:50
        <div>
            <i class="fas fa-check-circle" style="margin-right:5px;color:limegreen;font-size:16px"></i>
            Disponible
        </div>
    </div>
    
  </div>
  <div>
    <div
      style="font-weight:500;text-align:center;font-size:14px;width:70px;padding:3px;color:#057AFF;border-radius:5px;border:1px solid dodgerblue">
      <!-- Reservar -->
      $2.200
    </div>
    <div style="color:#999;font-size:13px;margin-left:10px">
      Reservar
    </div>
  </div>
</div>

<!-- *ngFor="let item of list" -->
<div *ngIf="false" style="padding:15px;width:100%;display:flex;justify-content:space-between;align-items:center">
  <div style="color:#555">
    <i class="far fa-clock" style="margin-right:10px;color:#bbb;font-size:16px"></i>
    20:00 - 21:00
    <div>
      <i class="far fa-calendar" style="margin-right:10px;color:#bbb;font-size:16px"></i>
      Lunes 24 de Mayo
    </div>
  </div>
  <div>
    <div
      style="font-weight:500;text-align:center;font-size:14px;width:60px;padding:3px;color:#057AFF;border-radius:5px;border:1px solid dodgerblue">
      $2.500
    </div>
    <div style="color:#999;font-size:13px;margin-left:5px">
      Reservar
    </div>
  </div>
</div>



<!-- <div style="padding:15px;width:100%;display:flex;justify-content:space-between;align-items:center">
    <div>
      <i class="far fa-clock" style="color:#bbb;font-size:16px"></i>
      19:10 - Sábado 25 de Mayo
    </div>  
    <div>
      <div
        style="font-weight:500;text-align:center;font-size:14px;width:60px;padding:3px;color:#057AFF;border-radius:5px;border:1px solid dodgerblue">
        $2.200
      </div>
    </div>
  </div> -->