<div style="height:180px"></div>

<div style="padding:15px">

  <h5>Mañana</h5>



  <div *ngFor="let partido of partidos" (click)="openPartido(partido._id)"
    style="margin-bottom:15px;color:#222;display:flex;justify-content:space-between">
    <div style="display:flex;align-items:center">
      <img [src]="partido.organizador.img.url"
        style="border:0px solid #fff;margin-right:10px;width:35px;height:35px;border-radius:50%;object-fit:cover">
      <div>
        <div style="margin-top:5px;display:flex;align-items:flex-start">
          <div>
            <i *ngIf="partido.inscrito" class="fas fa-check-circle" style="color:orange;margin-right:5px;"></i>
            {{partido.cancha.nombre}}
          </div>
        </div>
        <div style="color:#444">
          {{partido.jugadores - partido.cupos}}/{{partido.jugadores}} competidores
        </div>
      </div>
    </div>
    <div>
      <div style="font-size:14px;text-align:right">
        {{partido.hora1}}
      </div>
      <div style="height:10px"></div>
      <div style="font-size:14px;color:limegreen">
        ${{partido.cancha.precio}}
      </div>
    </div>
  </div>
  <!-- <div style="display:flex;margin-top:10px;font-size:15px">
    <div style="margin-left:10px;color:#999">
      <i class="fas fa-share" style="color:#bbb"></i>
      Compartir  
    </div>
    <div style="text-size-adjust:none;color:#999;margin-left:50px">
      2.5 km
    </div>
  </div> -->

  <!-- <hr>
  <div style="height:15px"></div>
  <h6>Lunes 15 de junio</h6> -->


</div>





<div *ngIf="_control.showMenuPartidos"
style="background:rgb(73, 73, 73, 0.5);z-index:999;position:fixed;top:0px;left:0px;width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between">
<div (click)="_control.showMenuPartidos=false" style="height:100%;width:100%">
</div>
<div style="padding:10px">
  <div style="padding:15px;width:100%;background:white;border-radius:5px">
    <div style="color:#777;font-size:13px;font-weight:500">
      ORDENAR PARTIDOS
    </div>
    <hr>
    <div (click)="loadPartidos();isTodo=true;isMisPartidos=false" style="display:flex;justify-content:space-between">
      <div [ngClass]="{'selected': isTodo, 'not-selected': !isTodo}">
        <i class="fas fa-futbol" [ngStyle]="{'color': isTodo ? '#666':'#bbb'}" style="margin-right:15px"></i>
        Todo
      </div>
      <i class="fas fa-check" [ngStyle]="{'color': isTodo ? 'orange':'white'}" style="font-size:15px"></i>
    </div>
    <div (click)="loadMisPartidos();isTodo=false;isMisPartidos=true"  style="margin-top:20px;display:flex;justify-content:space-between">
      <div [ngClass]="{'selected': isMisPartidos,'not-selected': !isMisPartidos}">
        <i class="fas fa-check-circle"  [ngStyle]="{'color': isMisPartidos ? '#666':'#bbb'}" style="margin-right:15px"></i>
        Mis Partidos
      </div>
      <i class="fas fa-check" [ngStyle]="{'color': isMisPartidos ? 'orange':'white'}" style="font-size:15px"></i>
    </div>
  </div>
</div>
</div>