<div style="height:180px"></div>

<div style="padding:15px;display:flex;align-items:center">
  <div style="position:relative;margin-right:10px;">
    <img src="http://i.imgur.com/0rwuOoK.jpg" style="width:50px;height:38px;object-fit:cover">
    <div
      style="position:absolute;top:-5px;right:-5px;height:15px;width:15px;border:2px solid white;border-radius:50%;background:red">
    </div>
    <div style="position:absolute;bottom:-20px;left:0px;font-size:11px;color:#999;text-align:center">
      Match
      <!-- Lun 17
      <div>
        18:30
      </div> -->
    </div>
  </div>
  <!-- <i class="fas fa-futbol" style="color:lightsalmon;margin-right:10px;font-size:30px"></i> -->
  <div style="width:100%">
    <div style="font-size:16px;display:flex;justify-content:space-between">
      <div style="font-weight:450;">
        Cancha Mira Flores
      </div>
      <div style="color:#999;font-size:13px">
        hace 3 horas
      </div>
    </div>
    <div style="font-size:15px;color:#666">
      <span style="">
        Oscar:
      </span>
      Hola como llego al partido
    </div>

  </div>
</div>
<div style="margin-bottom:10px;margin-right:10px;display:flex;justify-content:flex-end;align-items:center">
  <div style="margin-right:5px;font-size:14px;color:#999;">
    Cancha Mira Flores |
    Dom 17 - 18:30
  </div>
  <div
    style="font-size:14px;color:#999;width:20px;height:20px;border-radius:50%;border:1px solid #bbb;display:flex;align-items:center;justify-content:center">
    3
  </div>
</div>
<hr>




<div style="padding:15px;display:flex;align-items:center">
  <div style="position:relative;margin-right:10px;">
    <img src="http://i.imgur.com/0rwuOoK.jpg" style="width:50px;height:38px;object-fit:cover">
    <div
      style="position:absolute;top:-5px;right:-5px;height:15px;width:15px;border:2px solid white;border-radius:50%;background:red">
    </div>
    <div style="position:absolute;bottom:-20px;left:0px;font-size:11px;color:#999;text-align:center">
      Match
      <!-- Lun 17
      <div>
        18:30
      </div> -->
    </div>
  </div>
  <!-- <i class="fas fa-futbol" style="color:lightsalmon;margin-right:10px;font-size:30px"></i> -->
  <div style="width:100%">
    <div style="font-size:16px;display:flex;justify-content:space-between">
      <div style="font-weight:450;">
        Cancha Mira Flores
      </div>
      <div style="color:#999;font-size:13px">
        hace 22 horas
      </div>
    </div>
    <div style="font-size:15px;color:#666">
      <span style="">
        Daniel:
      </span>
      Estuvo bueno!
    </div>

  </div>
</div>
<div style="margin-bottom:10px;margin-right:10px;display:flex;justify-content:flex-end;align-items:center">
  <div style="margin-right:5px;font-size:14px;color:#999;">
    Cancha Mira Flores |
    Dom 17 - 14:00
  </div>
  <div
    style="font-size:14px;color:#999;width:20px;height:20px;border-radius:50%;border:1px solid #bbb;display:flex;align-items:center;justify-content:center">
    1
  </div>
</div>
<hr>


<div style="padding:15px;display:flex;align-items:center">
  <img src="http://i.imgur.com/0rwuOoK.jpg" style="margin-right:10px;width:40px;height:40px;object-fit:cover">
  <!-- <i class="fas fa-futbol" style="color:lightsalmon;margin-right:10px;font-size:30px"></i> -->
  <div style="width:100%">
    <div style="font-size:16px;display:flex;justify-content:space-between">
      <div style="font-weight:450;">
        Mira Flores |
        <!-- &bull; -->
        Lun 17 -
        <!-- &bull; -->
        18:30
      </div>
      <div>
        18:30
      </div>
    </div>
    <div style="font-size:15px;color:#666">
      <span style="">
        Oscar:
      </span>
      Hola como estas
    </div>

  </div>
</div>

<hr>

<div style="padding:15px;padding-bottom:5px;display:flex;align-items:center">
  <img src="assets/u01.jpg" style="margin-right:10px;height:45px;width:45px;border-radius:50%;object-fit:cover">
  <div style="width:100%">
    <div style="display:flex;justify-content:space-between">
      <div style="font-size:16px;font-weight: 450">
        Daniel
        <i class="fas fa-caret-right" style="margin-left:3px;margin-right:3px"></i>
        Cancha Mira Flores
      </div>
      <div>
        18:30
      </div>
    </div>
    <div style="font-size:15px;color:#666">
      Hola como estan, como puedo unirme...
    </div>
  </div>
</div>
<div style="margin-bottom:10px;margin-right:10px;display:flex;justify-content:flex-end;align-items:center">
  <!-- <div style="font-size:14px;color:#999;width:20px;height:20px;border-radius:50%;border:1px solid #bbb;display:flex;align-items:center;justify-content:center">
        3
      </div> -->
  <div style="margin-right:5px;font-size:14px;color:#999;">
    <!-- <i class="fas fa-caret-right" style="margin-right:3px"></i> -->

    <!-- <i class="fas fa-futbol" style="color:#bbb;margin-right:10x"></i> -->
    Cancha Mira Flores |
    Dom 17 - 18:30

  </div>
  <div
    style="font-size:14px;color:#999;width:20px;height:20px;border-radius:50%;border:1px solid #bbb;display:flex;align-items:center;justify-content:center">
    3
  </div>
</div>
<hr>


<div (click)="openConent()" style="padding:15px;padding-bottom:5px;display:flex;align-items:center">
  <img src="assets/u02.jpg" style="margin-right:10px;height:45px;width:45px;border-radius:50%;object-fit:cover">
  <div style="width:100%">
    <div style="display:flex;justify-content:space-between">
      <div style="font-size:16px;font-weight: 450">
        Oscar Garcia
      </div>
      <div>
        18:30
      </div>
    </div>
    <div style="font-size:15px;color:#666">
      Hola como estan, como puedo unirme...
    </div>
  </div>
</div>
<div
  style="margin-left:0px;margin-bottom:10px;margin-right:10px;display:flex;justify-content:flex-end;align-items:center">
  <!-- <div style="font-size:14px;color:#fff;background:limegreen;font-weight:500;width:20px;height:20px;border-radius:50%;border:0px solid #bbb;display:flex;align-items:center;justify-content:center">
        3
      </div> -->
  <div style="margin-right:10px;font-size:14px;color:#999;">
    <!-- <i class="fas fa-caret-right" style="margin-right:3px"></i> -->

    <!-- <i class="fas fa-futbol" style="color:#bbb;margin-right:10x"></i> -->
    Cancha Mira Flores |
    Dom 17 - 18:30
  </div>
  <div
    style="font-size:14px;color:#fff;background:limegreen;font-weight:500;width:20px;height:20px;border-radius:50%;border:0px solid #bbb;display:flex;align-items:center;justify-content:center">
    3
  </div>
</div>
<hr>