<div *ngIf="_control.showRankingGame"
  style="z-index:999;position:fixed;left:0px;top:0px;background:rgb(73, 73, 73, 0.5);height:100%;width:100%;display:flex;align-items:center;justify-content:center">

  <div style="position:relative;background:white;border-radius:10px">

    <div style="position:absolute;top:-30px;left:0px;color:white">
      <div style="font-size:16px;font-weight:500">
        Saltar
      </div>
    </div>
    <div style="padding:15px;">

      <div style="font-weight:500;font-size:18px;width:100%;text-align:center">
        Califica este juego
      </div>

      <hr>

      <div style="">
        <div style="color:#666">
          <div>
            <i class="far fa-map" style="margin-right:10px;color:#bbb;font-size:16px"></i>
            Cancha Mira Flores
          </div>
          <div>
            <i class="far fa-clock" style="margin-right:10px;color:#bbb;font-size:16px"></i>
            20:00
          </div>
          <div>
            <i class="far fa-calendar" style="margin-right:10px;color:#bbb;font-size:16px"></i>
            Lunes 24 de Mayo
          </div>
        </div>
      </div>

      <div style="margin-top:30px;margin-bottom:20px;width:100%;display:flex;justify-content:center;align-items:center">
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>

      </div>

    </div>
    <div
      style="padding:10px;border-radius: 0px 0px 10px 10px;width:100%;text-align:center;font-weight:500;color:white;background:slateblue">
      Siguiente
    </div>
  </div>

</div>







<div *ngIf="false"
  style="z-index:999;position:fixed;left:0px;top:0px;background:rgb(73, 73, 73, 0.5);height:100%;width:100%;display:flex;align-items:center;justify-content:center">

  <div style="position:relative;background:white;border-radius:10px">

    <div style="position:absolute;top:-30px;left:0px;color:white">
      <div style="font-size:16px;font-weight:500">
        Saltar
      </div>
    </div>
    <div style="padding:15px;">

      <div style="font-weight:500;font-size:18px;width:100%;text-align:center">
        Selecciona al jugador más valioso
      </div>

      <hr>

      <div style="margin-bottom:20px;width:100%;display:flex;align-items:center;justify-content:space-between;">
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
      </div>

      <div style="margin-bottom:20px;width:100%;display:flex;align-items:center;justify-content:space-between">
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
      </div>


      <div style="margin-bottom:20px;width:100%;display:flex;align-items:center;justify-content:space-between">
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
      </div>
      <!-- <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
      </div> -->
    </div>
    <div
      style="padding:10px;border-radius: 0px 0px 10px 10px;width:100%;text-align:center;font-weight:500;color:white;background:slateblue">
      Siguiente
    </div>
  </div>

</div>








<div *ngIf="_control.showBestPlayer"
  style="z-index:999;position:fixed;left:0px;top:0px;background:rgb(73, 73, 73, 0.5);height:100%;width:100%;display:flex;align-items:center;justify-content:center">

  <div style="width:85%;position:relative;background:white;border-radius:10px">

    <div style="position:absolute;top:-30px;left:0px;color:white">
      <div style="font-size:16px;font-weight:500">
        Saltar
      </div>
    </div>
    <div style="padding:15px;">

      <div style="font-weight:500;font-size:18px;width:100%;text-align:center">
        Evaluación al azar
      </div>

      <hr>
       <div style="width:100%;display:flex;align-items:center;justify-content:center">
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:16px;color:#666">
            Oscar Garcia
          </div>
        </div>
      </div>

      <div style="">
        <div style="text-align:center;margin-top:20px;color:#666">
          <div>
            <!-- <i class="far fa-map" style="margin-right:10px;color:#bbb;font-size:16px"></i> -->
            Por favor, indicanos el desempeño del juador
          </div>
        </div>
      </div>

      <div style="margin-top:30px;margin-bottom:20px;width:100%;display:flex;justify-content:center;align-items:center">
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;margin-right:25px;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>
        <div style="padding:6px;border-radius:5px;border:1px solid #eee;">
          <i class="far fa-star" style="color:#bbb;font-size:20px"></i>
        </div>

      </div>

    </div>
    <div
      style="padding:10px;border-radius: 0px 0px 10px 10px;width:100%;text-align:center;font-weight:500;color:white;background:slateblue">
      Finalizar
    </div>
  </div>

</div>







<div *ngIf="_control.showBuyNow"
  style="z-index:999;position:fixed;left:0px;top:0px;background:rgb(73, 73, 73, 0.5);height:100%;width:100%">
  <div style="height:45%" (click)="_control.showBuyNow = false"></div>
  <div style="height:55%;width:100%;background:white;border-radius:0px">

    <div style="padding:15px;">

      <div style="width:100%;display:flex;justify-content:space-between;align-items:center">
          <div style="font-weight:500;font-size:22px">
              $2.200
            </div>
          <i (click)="_control.showBuyNow = false" class="fas fa-times" style="font-size:18px;color:#bbb"></i>
      </div>

      <div style="height:20px"></div>

      <div>
        <div style="color:#555">
            <i class="far fa-map" style="color:#bbb;font-size:18px"></i>
            Cancha Mira Flores
        </div>
        <div style="color:#555">
            <i class="fas fa-map-marker-alt" style="color:#bbb;font-size:18px"></i>
            Simon Bolivar 802
        </div>
        <div style="color:#555">
            <i class="far fa-clock" style="color:#bbb;font-size:18px"></i>
            18:00 - 19:00 | 14 de Mayo
        </div>
      </div>

      <div style="margin-top:30px;margin-bottom:20px;font-weight:500;font-size:18px;width:100%;text-align:center">
        Seleccione color de camiseta
      </div>

      <!-- <div>
        Color: Blanco
      </div> -->

      <div style="display:flex;align-items:center">
        <div style="margin-right:20px">
          Color:
        </div>
        <div style="padding:3px;padding-left:5px;padding-right:5px;border:1px solid #bbb">
          Blaco
        </div>

        <div style="margin-left:30px;padding:3px;padding-left:5px;padding-right:5px;border:1px solid #bbb">
            Negro
          </div>
      </div>

       

      <!-- <div style="">
        <div style="text-align:center;margin-top:20px;color:#666">
          <div>
            Por favor, indicanos el desempeño del juador
          </div>
        </div>
      </div> -->


      <div style="height:40px"></div>
      <div
      style="font-size:15px;padding:10px;border-radius: 5px;width:100%;text-align:center;font-weight:500;color:white;background:#999">
      COMPRAR
    </div>

    </div>
   
  </div>

</div>










<div *ngIf="false"
  style="z-index:999;position:fixed;left:0px;top:0px;background:rgb(73, 73, 73, 0.5);height:100%;width:100%;display:flex;align-items:center;justify-content:center">

  <div style="position:relative;background:white;border-radius:10px">

    <div style="position:absolute;top:-30px;left:0px;color:white">
      <div style="font-size:16px;font-weight:500">
        Saltar
      </div>
    </div>
    <div style="padding:15px;">

      <div style="font-weight:500;font-size:18px;width:100%;text-align:center">
        Selecciona el jugador más valioso
      </div>

      <hr>

      <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
        <div style="text-align:center">
          <img src="assets/u01.jpg" style="width:40px;height:40px;border-radius:50%;object-fit:cover">
          <div style="width:100%;text-align:center;font-size:13px;color:#666">
            Oscar Garcia
          </div>
        </div>
      </div>

      

    </div>
    <div
      style="padding:10px;border-radius: 0px 0px 10px 10px;width:100%;text-align:center;font-weight:500;color:white;background:slateblue">
      Siguiente
    </div>
  </div>

</div>